<div id="user_info" class="item">
  <h1 class="title">StickyBoard 3000</h1>
  <% if logged_in? -%>
    <p>
      <%= h(current_user.display_name) %>
    </p>
    <%= button_to 'Log out', login_url, :method => :delete %>
  <% else -%>
    <%= render :partial => 'logins/form' %>
  <% end -%>
</div>
