<div id="user_info">
  <h1 class="title">The Wall of Random Crap</h1>
  <% if logged_in? -%>
    <p>
      <%= h(current_user.display_name) %>
    </p>
    <p>
      mailto:<%= mail_to "#{current_user.identifier}@#{request.host}", "#{current_user.identifier}@TWORC" %>
      <span style="font-size:80%">(Cam phone!!!)</span>
    </p>
    <%= button_to 'Log out', login_url, :method => :delete %>
  <% else -%>
    <%= render :partial => 'logins/form' %>
  <% end -%>
</div>
