*
  margin: 0
  padding: 0

html, body
  background: #fff
  height: 100%

body
  font-family: Verdana, Arial, sans-serif
  height: 100%

#container-wrapper
  height: 100%

#container
  height: 100%

#posts-wrapper
  float: left
  width: 75%
  height: 100%

#posts

#twits-wrapper
  float: right
  width: 25%
  height: 100%

#twits
  height: 100%
  background: #f8f8f8
  border-left: 1px solid #f0f0f0
