*
  margin: 0
  padding: 0

html, body
  background: #fff
  height: 100%

body
  font-family: Verdana, Arial, sans-serif
  height: 100%

#container-wrapper
  height: 100%

#container
  height: 100%

#posts-wrapper
  float: left
  width: 80%
  height: 100%

#posts
  overflow: hidden

  #user_info

  .item
    float: left
    width: 200px
    height: 150px
    margin: 3px 0 0 3px
    background: #f0f0f0

    .title
      font-size: 100%
      background: #e8e8e8
      text-align: center
      padding: 0.25em

#twits-wrapper
  float: right
  width: 20%
  height: 100%

#twits
  height: 100%
  background: #f8f8f8
  border-left: 1px solid #f0f0f0
