* {
  margin: 0;
  padding: 0; }

html, body {
  background: url("/images/cork.jpg");
  height: 100%; }

body {
  font-family: Verdana, Arial, sans-serif;
  height: 100%;
  font-size: 90%;
  overflow: hidden; }

#container-wrapper {
  height: 100%; }

#container {
  height: 100%; }

#content-wrapper {
  float: left;
  width: 85%;
  height: 100%; }

#content {
  height: 100%;
  overflow: hidden; }
  #content #user_info {
    background: url("/images/black-75.png");
    border-bottom: 1px solid #000;
    -moz-box-shadow: #000 0 0 2px;
    color: #fff;
    overflow: hidden;
    padding: 0.25em; }
    #content #user_info h1 {
      font-size: 200%; }
    #content #user_info > * {
      float: left; }
    #content #user_info p {
      padding: 0.5em; }
    #content #user_info a {
      color: #fff; }
    #content #user_info .title {
      margin-right: 1em;
      text-shadow: #fff 0 0 1px; }
    #content #user_info form {
      padding: 0.5em; }
      #content #user_info form p {
        float: left;
        margin: 0 0.25em;
        padding: 0; }
        #content #user_info form p label {
          font-size: 80%; }
          #content #user_info form p label:after {
            content: ":"; }
      #content #user_info form input {
        background: url("/images/white-50.png");
        border: none;
        padding: 0.2em 0.4em;
        -moz-border-radius: 0.3em;
        text-align: center; }
      #content #user_info form p.button input, #content #user_info form.button-to input {
        color: #fff;
        padding: 0.2em 1em;
        text-shadow: #000 1px 1px;
        cursor: pointer; }
        #content #user_info form p.button input::-moz-focus-inner,         #content #user_info form.button-to input::-moz-focus-inner {
          padding: 0;
          display: block;
          border: none; }
        #content #user_info form p.button input:hover, #content #user_info form p.button input:focus,         #content #user_info form.button-to input:hover, #content #user_info form.button-to input:focus {
          background: url("/images/white-25.png"); }
  #content #posts {
    height: 100%;
    overflow: auto; }
    #content #posts .post {
      float: left;
      width: 200px;
      height: 150px;
      margin: 5px;
      background: #f0f0f0;
      -moz-box-shadow: rgba(0,0,0,0.5) 3px 3px;
      position: relative; }
      #content #posts .post .title {
        font-size: 100%;
        text-align: center;
        padding: 0.25em 0;
        text-shadow: #000 0 0 1px; }
      #content #posts .post .name {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 70%;
        padding: 0.2em;
        opacity: 0.5; }
    #content #posts .note {
      background: #ff6;
      opacity: 0.75;
      overflow: auto; }
      #content #posts .note:hover, #content #posts .note:focus {
        opacity: 1; }
      #content #posts .note.highlighted {
        background: #000 !important;
        color: #fff !important; }
        #content #posts .note.highlighted .title {
          background: #333 !important; }
      #content #posts .note .title {
        background: #cc3; }
      #content #posts .note .body p {
        padding: 0.25em;
        font-size: 90%; }
      #content #posts .note.koda {
        background: #f6f; }
        #content #posts .note.koda .title {
          background: #c3c; }
      #content #posts .note.basanda {
        background: #6ff; }
        #content #posts .note.basanda .title {
          background: #3cc; }
      #content #posts .note.bosoya {
        background: #6f6; }
        #content #posts .note.bosoya .title {
          background: #3c3; }
    #content #posts .photo {
      position: relative; }
      #content #posts .photo .title, #content #posts .photo .body {
        position: absolute;
        width: 100%;
        background: url("/images/white-50.png");
        opacity: 0.25;
        color: #000; }
      #content #posts .photo .title {
        top: 0; }
      #content #posts .photo .body {
        bottom: 0;
        text-align: center;
        font-size: 80%;
        max-height: 75px;
        overflow: auto;
        padding-bottom: 1.5em; }
        #content #posts .photo .body p {
          padding: 0.25em; }
      #content #posts .photo .name {
        opacity: 0.25; }
      #content #posts .photo:hover .title, #content #posts .photo:hover .body,       #content #posts .photo:focus .title, #content #posts .photo:focus .body {
        opacity: 1; }
      #content #posts .photo.highlighted {
        background: #f00 !important;
        opacity: 0.75 !important; }
        #content #posts .photo.highlighted .title, #content #posts .photo.highlighted .body {
          opacity: 1 !important; }

#twits-wrapper {
  float: right;
  width: 15%;
  height: 100%; }

#twits {
  height: 100%;
  background: url("/images/black-25.png");
  border-left: 1px solid rgba(0,0,0,0.5);
  -moz-box-shadow: #000 0 0 2px; }
  #twits .title {
    padding: 0.25em;
    background: url("/images/black-75.png");
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-left: -1px;
    text-align: center;
    -moz-box-shadow: #000 0 0 2px; }
    #twits .title h2 {
      font-size: 200%;
      color: #fff;
      text-shadow: #fff 0 0 2px; }
  #twits .description {
    background: url("/images/white-25.png");
    padding: 0.25em;
    font-size: 80%;
    color: rgba(0,0,0,0.8);
    text-align: center; }
    #twits .description a {
      color: rgba(0,0,100,0.8); }
  #twits .twit {
    background: url("/images/black-25.png");
    padding: 0.5em;
    color: #fff;
    text-shadow: #000 1px 1px;
    font-size: 80%; }
    #twits .twit.highlighted {
      background: rgba(255,255,0,0.5); }
    #twits .twit.odd {
      background: url("/images/black-50.png"); }
      #twits .twit.odd.highlighted {
        background: rgba(200,200,0,0.5); }
    #twits .twit a {
      color: #fff;
      text-decoration: none;
      background: url("/images/white-25.png");
      -moz-border-radius: 0.25em;
      padding: 1px 0.5em; }
      #twits .twit a:hover, #twits .twit a:focus {
        background: url("/images/white-50.png"); }
