* {
  margin: 0;
  padding: 0; }

html, body {
  background: #fff;
  height: 100%; }

body {
  font-family: Verdana, Arial, sans-serif;
  height: 100%;
  font-size: 90%; }

#container-wrapper {
  height: 100%; }

#container {
  height: 100%; }

#posts-wrapper {
  float: left;
  width: 80%;
  height: 100%; }

#posts {
  overflow: hidden; }
  #posts .item {
    float: left;
    width: 200px;
    height: 150px;
    margin: 3px 0 0 3px;
    background: #f0f0f0; }
    #posts .item .title {
      font-size: 100%;
      text-align: center; }
  #posts .note .title {
    background: #e8e8e8;
    padding: 0.25em; }
  #posts .photo {
    position: relative; }
    #posts .photo .title, #posts .photo .body {
      position: absolute;
      width: 100%;
      background: rgba(255,255,255,0.5);
      opacity: 0.25;
      color: #000; }
    #posts .photo .title {
      top: 0;
      padding: 0.25em; }
    #posts .photo .body {
      bottom: 0;
      text-align: center;
      font-size: 80%;
      max-height: 75px;
      overflow: auto; }
      #posts .photo .body p {
        padding: 0.25em; }
    #posts .photo:hover .title, #posts .photo:hover .body,     #posts .photo:focus .title, #posts .photo:focus .body {
      opacity: 1; }

#twits-wrapper {
  float: right;
  width: 20%;
  height: 100%; }

#twits {
  height: 100%;
  background: #f8f8f8;
  border-left: 1px solid #f0f0f0; }
